
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/rubik-v19-latin_cyrillic-regular.woff2') format('woff2'), 
    url('../fonts/rubik-v19-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: 
    url('../fonts/rubik-v19-latin_cyrillic-500.woff2') format('woff2'), 
    url('../fonts/rubik-v19-latin_cyrillic-500.woff') format('woff'); 
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: 
    url('../fonts/rubik-v19-latin_cyrillic-700.woff2') format('woff2'), 
    url('../fonts/rubik-v19-latin_cyrillic-700.woff') format('woff'); 
}


* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}


body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", "Arial", sans-serif;
}

img {
    vertical-align: middle;
}

h2 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
time {
    margin: 0;
    padding: 0;
}


.container {
    width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header-links {
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.header-top {
    background-color: #f6f6f6;
    padding: 30px;
}

.header-top-inner {
    display: flex;
    align-items: center;
    
}

.box-banner-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-center {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 71px;
    padding-left: 29px;
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin-top: 60px;
    margin-bottom: 108px;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: 1050px, 100px;
    border-radius: 10px;
}

.banner-text {
    font-family: 'Rubik', "Arial", sans-serif;
    font-style: Medium;
    line-height: 21px;
    Font-size: 26px;
    
}

.banner-link {
    background-color: #F78B3B;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 30px;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.top-link {
    text-decoration: none;
    font-family: 'Rubik', "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(127, 127, 127, 1);
}

.site-logo {
    margin-right: 35px;
}

.about-text-item {
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-box-text {
    margin-left: 10px;
    display: inline-block;
}

.box-bottom-list {
    display: flex;
    list-style: none;
}

.box-bottom-item {
    margin-top: 10px;
    margin-bottom: 20px;

}

.box-bottom-items-text {
    color: #000;
    text-decoration: none;
    font-size: 20px;
line-height: 26px;  
font-weight: 500;  
}

.box-bottom {
    width: 393px;
    background-color: #f6f6f6;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 100px;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    border-radius: 20px;
    
}

.banner {
    margin-right: auto;
    margin-right: auto;
}

.site-logo-img {
    width: 275px;
    height: 45px;
}

.currency-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: auto;
}

.currency-item {
    color: #555;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 25px;
}

.currency-span {
    color: #2959CE;
    font-weight: 700;
}

.languages {
    width: 70px;
    height: 36px;
    background: #DCE6FF;
    border-radius: 39px;
    padding: 3px;
    margin-right: 25px;
}

.languages-item {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    color: #A6A6A6;
    text-decoration: none;
}

.active-languages {
    width: 30px;
    height: 30px;
    padding: 8px 7px 7px;
    background: #FFFFFF;
    border-radius: 50%;
    color: #000;
}


.news-text-item {
    text-decoration: none;
    color: #000;
}

.login {
    background: #7296EC;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 13px 20px;
    text-decoration: none;
}



.nav {
    display: flex;
    justify-content: space-around;
    color: rgba(127, 127, 127, 1);
    list-style: none;
    margin-top: 30px;   
    border-color: #d1d1d1; 
    width: 1200px;
    
}



.header-center {
    margin-top: 40px;
    margin-bottom: 50px;
}




.news {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    
}



.news-item{
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    width: 390px;
    height: 380px;
    padding-top: 20px;
    padding-right: 18px;
    padding-bottom: 50px;
    padding-left: 17px;
    background-color: #f6f6f6;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    
    
} 


.pic-news {
    margin-top: 15px;
    margin-bottom: 18px;
}

.news-item-span {
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
    
}

.text-bottom {
    display: inline-block;
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.center-news-baner {
    margin-top: 60px;
    display: block;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
}

.rigt-box-news-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.bottom-news {
    margin-top: 20px;
    list-style: none;
}

.bottom-news-item {
    width: 797px;
    margin-bottom: 10px;
    background-color: rgb(246, 246, 246);
    padding: 15px;
    color: #4a4b4c;
    border-radius: 15px;
}

.rigt-box-news {
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    width: 390px;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    
}


.rigt-box-news-link {
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.text-box {
    display: inline-block;
    width: 535px;
    margin-left: 15px;
    vertical-align: middle;
    line-height: 22px;
    
}

.pic-airplane {
    vertical-align: middle;
    margin: 0;
}

.text {
    margin-top: 10px;
    margin-bottom: 17px;
}

.icon {
    display: inline-block;
}



.bottom-news-box {
    display: flex;
    padding-bottom: 50px;
    

}


.about-box {
    width: 797px;
    margin-top: 20px;
    Font-size: 20px;
    line-height: 30px;
    font-size: 20px;
    border-bottom: 1px solid;
    border-color: #000;
    margin-bottom: 60px; 
}

.about-text {
    margin-top: 25px;
    margin-bottom: 27px;
}

.about-text-item {
    margin-bottom: 24px;
    
}

.ad {
    margin-left: 10px;
    margin-top: 10px;
}


.bottom-link {
    
    display: inline-block;
    text-align: center;
    background-color: #eaeaea;
    list-style: none;
    border-radius: 10px;
    padding-top: 17px;
    padding-right: 343px;
    padding-bottom: 17px; 
    padding-left: 343px;  
    margin-bottom: 100px;
}

.bottom-link-item{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer {
    display: block;
    background-color: #7297ef;
    padding-right: 100px;
    padding-left: 100px;
}

.footer-box {
    display: flex;
    padding: 40px;
    color: #ffffff;
    
}

.logo-footer {
    width: 265px;
}

.logo-text {
    display: block;
    margin-top: 25px;
    
}

.footer-link {
    width: 167px;
    color: #ffffff;
    margin-top: 70px;
    margin-left: 201px;
    
}

.link{
    list-style: none;
    
}

.link-item {
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
    
}

.link-item-text {
    text-decoration: none;
    color: #ffffff;
    
    
}

.footer-rigt-link {
    color: #ffffff;
    width: 225px;
    margin-top: 70px;
    margin-left: 100px;
    
}

.span {
    margin-left: 40px;
    display: block;
    margin-bottom: 20px;
    width: 998px;
    height: 2px;
    background: #ffffff;
    border-radius: 5px;
}

.avatar {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    
}

.footer-bottom {
    color: #ffffff;
    
}



.icon {
    display: inline-block;
    vertical-align: middle;
    
}

.box-icon { 
    margin-right: 120px;
    
}

.icon-item {
    margin-right: 25px;
}


.icon-link {
    text-decoration: none;
}